.FrontPage {
    min-height: 100vh;
    background-color: #f0f0f0;
    display: flex;
    // justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 120px;
    padding-bottom: 50px;
}

.socialContainer {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.startText {
    margin: 20px 0;
    text-align: justify;
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
    max-width: 400px;
}

.startText span {
    font-weight: 400;
}

.socialLinks {
    display: none;
    width: 100%;
    max-width: 400px;
}

@media (min-width: 975px) {
    .socialContainer {
        flex-direction: row;
        width: 80%;
        justify-content: center;
    }

    .startText {
        
    }

    .socialLinks {
        margin-left: 30px;
        flex-direction: column;
    }
}

@media (min-width: 475px) {
    .socialLinks {
        display: flex;
        flex-direction: column;
    }
}

