$containerSize: 200px;

.ImageAnimation {
    border-radius: 50%;
    height: $containerSize;
    width: $containerSize;
    background-color: #232323;
    overflow: hidden;
    display: flex;
    justify-content: center;
    position: relative;
    border: #404040 solid 4px;
    background-image: url("../../../../resources/images/codeBgLow1.jpg");
    background-size: 300px;
    background-position: -20px;
	transition: .5s;
	opacity: 1;
}

.hideCodeBg {
	opacity: 0;
}

.rasmusImg {
    height: 115%;
    margin-top: 14%;
    z-index: 450;
	opacity: 1;
	transition: .5s;
    // animation: rasmusWave ease-in-out 14s infinite;
}

.sunImg {
    position: absolute;
    height: 20%;
    animation: sun linear 60s infinite;
    right: 7%;
    top: 7%;
}

.cloudStyle1,
.cloudStyle2,
.cloudStyle3 {
    position: absolute;
    left: 7%;
    fill: #fff;
}

.cloudStyle1 {
    height: 12%;
    animation: cloud1 linear 100s infinite;
    // animation: cloud1 linear 5s infinite;
    opacity: 0.85;
    animation-delay: -10s;
    top: 4%;
}

.cloudStyle2 {
    height: 10%;
    opacity: 0.7;
    animation: cloud2 linear 70s infinite;
    // animation: cloud2 linear 7s infinite;
    animation-delay: -40s;
    top: 24%;;
}

.cloudStyle3 {
    height: 8%;
    animation: cloud3 linear 55s infinite;
    // animation: cloud3 linear 5s infinite;
    opacity: 0.5;
    animation-delay: -10s;
    top: 15%;
}

.wavesContainer {
	transition: .5s;
	opacity: 1;
}

.hideWaves {
	opacity: 0;
}

.wave1,
.wave2,
.wave3 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 200%;
}

.wave1 {
    animation: wave linear 15s infinite;
    fill: rgb(47, 126, 245, 1);
    filter: drop-shadow(0 0 2px rgba(10, 28, 54, 0.5));
    z-index: 300;
}

.wave2 {
    animation: wave linear 20s infinite;
    animation-delay: -3s;
    animation-direction: reverse;
    fill: rgb(47, 126, 245, 0.9);
    filter: drop-shadow(0 0 2px rgba(10, 28, 54, 0.5));
    z-index: 290;
}

.wave3 {
    animation: wave linear 25s infinite;
    animation-delay: -1s;
    fill: rgb(47, 126, 245, 0.5);
    filter: drop-shadow(0 0 2px rgba(10, 28, 54, 0.5));
    z-index: 270;
}

@keyframes wave {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

@keyframes cloud1 {
    0% {
        transform: translateX(-140%);
    }

    100% {
        transform: translateX(400%);
    }
}

@keyframes cloud2 {
    0% {
        transform: translateX(-160%);
    }

    100% {
        transform: translateX(500%);
    }
}

@keyframes cloud3 {
    0% {
        transform: translateX(-140%);
    }

    100% {
        transform: translateX(600%);
    }
}

@keyframes sun {
    0% {
        transform: scale(1) rotate(0);
    }

    25% {
        transform: scale(1.1) rotate(90deg);
    }

    50% {
        transform: scale(1) rotate(180deg);
        
    }

    75% {
        transform: scale(1.1) rotate(270deg);
    }

    100% {
        transform: scale(1) rotate(360deg);
    }
}

@keyframes rasmusWave {
    0% {
        transform: translateX(0);
        transform: translateY(0);
    }

    50% {
        transform: translateX(2%);
        transform: translateY(2%);
    }

    100% {
        transform: translateX(0);
        transform: translateY(0);
    }
}