$cardWidth: 500px;
$cardHeight: 300px;

.projectCardContainer {
  overflow: hidden;
  margin-top: 50px;
  box-shadow: 0px 0px 18px -4px rgba(0,0,0,0.5);
  position: relative;
}

.projectCardContainer:nth-child(1),
.projectCardContainer:nth-child(2){
  margin-top: 0;
}

.projectCardContainer,
.ProjectCard
{
  border-radius: 5px;
}

.ProjectCard,
.activateBlur,
.detailsContainer,
.technologiesContainer{
  transition: .4s;
}


.ProjectCard {
  width: $cardWidth;
  height: $cardHeight;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(0.1px);
  border-radius: 5px;
}

.activateBlur {
  filter: blur(2px);
}

.detailsContainer {
  position: absolute;
  width: $cardWidth;
  height: $cardHeight;
  background-color: rgb(0, 0, 0, 0.6);
  opacity: 1;
  z-index: 49;
  top: 0;
  left: 0;

}

.hideDetails {
  opacity: 0;
}

.mainLinkButton {
  position: absolute;
  right: 0;
  top: 0;
  height: 50px;
  width: 50px;
  background-color: #2F7EF5;
  z-index: 50;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.mainLinkButton:hover {
  background-color: #1F54A2;
}

.technologiesContainer {
  position: absolute;
  top: 0;
  left: auto;
  right: auto;
  margin-left: 15px;
  display: flex;
  transition-timing-function: ease-in-out;
}

.hideBadges {
  transform: translateY(-60px);
}

.technologyBadge {
  background-color: #fff;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 55px;
  width: 40px;
  z-index: 500;
  cursor: pointer;
  transition: .2s;
  position: relative;
}

.technologyBadge:not(:first-child) {
  margin-left: 10px;
}

.technologyBadge:hover {
  margin-top: -5px;
  //background-color: #e6e6e6;
}

.technologyBadge .tooltiptext {
  width: 140px;
  background-color: #fff;
  color: #232323;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: -60px;
  left: 50%;
  margin-left: -70px;
  opacity: 0;
  transition: opacity 0.3s;
}

.technologyBadge:first-child .tooltiptext {
  left: 0px;
  margin-left: 0px;
}

.technologyBadge .tooltiptext::before {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color:  transparent transparent #fff transparent;
}

.technologyBadge:first-child .tooltiptext::before {
  left: 21px;
}

.technologyBadge:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}


.technologyBadge img {
  width: 30px;
  height: auto;
}

.hideOverflow {
  overflow: hidden;
  background-color: transparent;
}
