$cardWidth: 500px;
$cardHeight: 300px;

.projectCardContainer {
  overflow: hidden;
  margin-top: 50px;
  box-shadow: 0px 0px 18px -4px rgba(0,0,0,0.5);
  position: relative;
}

.projectCardContainer:nth-child(1),
.projectCardContainer:nth-child(2){
  margin-top: 0;
}

.projectCardContainer,
.ProjectCard
{
  border-radius: 5px;
}

.ProjectCard,
.activateBlur,
.detailsContainer,
.name,
.text {
  transition: .4s;
}


.ProjectCard {
  width: $cardWidth;
  height: $cardHeight;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(0.1px);
  border-radius: 5px;
}

.activateBlur {
  filter: blur(2px);
}

.detailsContainer {
  position: absolute;
  width: $cardWidth;
  height: $cardHeight;
  background-color: rgb(0, 0, 0, 0.75);
  opacity: 1;
  z-index: 49;
  top: 0;
  left: 0;

}

.hideDetails {
  opacity: 0 !important;
}

.mainLinkButton {
  position: absolute;
  right: 0;
  top: 0;
  height: 50px;
  width: 50px;
  background-color: #2F7EF5;
  z-index: 50;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.mainLinkButton:hover {
  background-color: #1F54A2;
}

.technologiesContainer {
  position: absolute;
  top: 0;
  left: 30px;
  display: flex;

}

.hideBadge {
  animation: move_up .35s forwards;
}

.showBadge {
  animation: move_down .35s forwards;
}

@keyframes move_down {
  from {
    top: -60px
  }
  to {
    top: 0px;
  }
}

@keyframes move_up {
  from {
    top: 0px;
  }
  to {
    top: -60px
  }
}

.technologyBadge {
  background-color: #fff;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 55px;
  width: 40px;
  z-index: 500;
  cursor: pointer;
  position: relative;
  transition: .35s;
  transition-timing-function: ease-in-out;
  top: -60px
}

.showBadge:nth-child(2) {
  animation-delay: .07s;
}

.showBadge:nth-child(3) {
  animation-delay: .14s;
}

.showBadge:nth-child(4) {
  animation-delay: .21s;
}

.showBadge:nth-child(5) {
  animation-delay: .28s;
}

.technologyBadge:not(:first-child) {
  margin-left: 10px;
}

.technologyBadge:hover {
  margin-top: -5px;
}

.technologyBadge .tooltiptext {
  width: 140px;
  background-color: #fff;
  color: #232323;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: -60px;
  left: 50%;
  margin-left: -70px;
  opacity: 0;
  transition: opacity 0.3s;
}

.technologyBadge:first-child .tooltiptext {
  left: 0px;
  margin-left: 0px;
}

.technologyBadge .tooltiptext::before {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color:  transparent transparent #fff transparent;
}

.technologyBadge:first-child .tooltiptext::before {
  left: 21px;
}

.technologyBadge:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}


.technologyBadge img {
  width: 30px;
  height: auto;
}

.hideOverflow {
  overflow: hidden;
  background-color: transparent;
}

.name {
  position: absolute;
  top: 70px;
  left: 30px;
  color: #fff;
  font-size: 25px;
  font-weight: 500;
  width: 440px;
  opacity: 1;
}

.hideName {
  opacity: 0;
  transform: translateX(-5%);
}

.text {
  position: absolute;
  top: 107px;
  left: 30px;
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  width: 440px;
  opacity: 1;
}

.hideText {
  opacity: 0;
  transform: translateX(5%);
}