.PortfolioPage {
  min-height: 100vh;
  background-color: #f0f0f0;
  padding-top: 120px;
  padding-bottom: 50px;
  display: flex;
  justify-content: center;
}

.projectsContainer {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-direction: column;
}

@media (min-width: 535px) {
  .projectsContainer {
    flex-direction: row;
    width: 500px;
  }
}

@media (min-width: 1250px) {
  .projectsContainer {
    width: 90%;
    max-width: 1075px;
    justify-content: space-between;
  }
}