.PortfolioPage {
	min-height: 100vh;
	background-color: #f0f0f0;
	display: flex;
	align-items: center;
	padding: 120px 8% 50px 8%;
	flex-direction: column;
}

.PortfolioPage p {
	font-weight: 300;
	text-align: center;
}

.projectsContainer {
  display: none;
}

.mobileProjectsContainer {
	margin-top: 20px;
	width: 100%;
}

.mobileProjectsMenu,
.hideMobileProjectsMenu {
	margin-top: 20px;
	user-select: none;
	overflow-x: scroll;
}

.mobileProjectsMenu mark {
	opacity: 1;
	transition: .4s;
}

.hideMobileProjectsMenu mark {
	opacity: 0;
}

.projectInfoContainer p {
	text-align: left;
}

.projectInfoContainer ul {
	margin: 15px 0 15px;
	list-style-position: inside;
}

.projectInfoContainer li {
	font-weight: 300;
	background-image: url('../../../resources/icons/blueTriangle.svg');
	background-position: 0 5px;
	background-size: 10px 10px;
	background-repeat: no-repeat;
	padding-left: 15px;
	list-style: none;
}

.projectInfoContainer li:not(:first-child) {
	margin-top: 15px;
}

.technologiesUsedContainer {
	display: flex;
	flex-direction: column;
}

.technology {
	display: flex;
	align-items: center;
	font-weight: 300;
}

.technology:not(:first-child) {
	margin-top: 12px;
}

.technology:first-child {
	margin-top: 5px;
}

.imageContainer {
	width: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.imageContainer img {
	height: 15px;
}

.projectImageContainer {
	margin-top: 15px;
	border-radius: 3px;
	overflow: hidden;
	box-shadow: 0px 0px 18px -4px rgba(0,0,0,0.5);
	width: 100%;
	height: 190px;
	background-position: top;
	background-repeat: no-repeat;
	background-size: cover;
}

.blueButtonsContainer {
	margin: 15px auto;
	display: flex;
	width: 250px;
	justify-content: space-evenly;
}

.learnMoreButtonContainer {
	display: flex;
	justify-content: center;
}

.longText {
	margin-top: 10px;
	font-weight: 300;
}

@media (max-width: 424px) {
	.projectTypes div {
		font-size: 14px !important;
		height: 40px !important;
	}
}

@media (min-width: 425px) and (max-width: 474px) {
	.projectTypes div {
		font-size: 17px !important;
		height: 45px !important;
	}
}

@media (min-width: 475px) {
	.projectTypes div {
		font-size: 20px !important;
		height: 50px !important;
	}
}

@media (min-width: 535px) {
	.PortfolioPage {
		padding: 120px 0 50px 0;
		justify-content: center;
	}

	.PortfolioPage p {
		width: 500px;
	}

	.projectsContainer {
		display: flex;
		justify-content: space-evenly;
		flex-wrap: wrap;
		flex-direction: column;
	}

	.mobileProjectsContainer {
		display: none;
	}
}

@media (min-width: 1165px) {
	.projectsContainer {
		flex-direction: row;
	}

	.PortfolioPage p {
		width: 80%;
	}
}

@media (min-width: 1250px) {
  .projectsContainer {
    width: 90%;
    max-width: 1075px;
    justify-content: space-between;
  }
}